<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="vue.js"></script>
    <style>
        .size{
            font-size: 20px;
        }
        .red{
            background-color: red;
        }
        .yellow{
            background-color: yellow;
        }
        .big{
            font-size: 30px;
        }
        .small{
            font-size: 10px;
        }

        .gate-enter,.gate-leave-active{
            opacity: 0;
            transform: rotateY(45deg);
            transform-origin: left center;
        }
        .gate-enter-active,.gate-leave-active{
            transition:all 2s ease;
        }
    </style>
</head>
<body>
    <div id="box">
        <!--v-if-->
        <!--绑定数据-->
        <div class="test">{{obj}}</div>
        <!--绑定属性  v-bind可以省略-->
        <img v-bind:src="imgs">
        <div class="test2" v-if="a">{{a}}</div>
        <div class="test2" v-else="a">{{a}}</div>
        <!--v-show false隐藏 true显示-->
        <div v-show="a">{{a}}</div>
        <!--绑定表单元素-->
        <input type="text" v-model="a">
        <!--v-on绑定事件 可以简写为@-->
        <button v-on:click="a=!a">click</button>
        <!--阻止默认事件的用法 prevent stop-->
        <a href="https://www.baidu.com" v-on:click.prevent="a=!a">是的撒的撒旦</a>
        <ul>
            <li v-for="animal in zoo">
                {{animal}}
            </li>
        </ul>
        <ul>
            <li v-for="(a1,index) in zoo">
                {{a1}}
            </li>
        </ul>
        <!--绑定文本-->
        <h1 v-text="text"></h1>
        <!--v-html-->
        <div v-html="word"></div>
        <div>{{fullName}}</div>
        <div>{{familyName+name}}</div>
        <input type="text" v-model="familyName">
        <input type="text" v-model="name">
        <input type="text" v-model="getFullName">
        <!--filter的用法  computed一定程度上可以代替filter-->
        <div>{{imgs | currency}}</div>

        <!--样式的绑定  true添加 false不添加-->
        <div :class="{'size':state11,'red':state1,'yellow':state2}">1234</div>
        <button @click="state2=!state2">点击</button>

        <div :class="changeState">1234</div>
        <div :class="[big,red]">1234</div>
        <div :class="[style?red:big,yellow]">1234</div>
        <button @click="style=!style">click</button>

        <!--动画  必须要有显示隐藏的效果-->
        <transition name="gate">
            <div v-if="slow" :class="[red,big]">1234</div>
        </transition>
        <button @click="slow=!slow">点击</button>
        <!--自定义-->
        <transition name="animation" enter-active-calss="animated flipInx" leave-active-class="animated flipOutY">
            <div v-if="slow" :class="[red,big]">
                <h1>旋转吧</h1>
            </div>
        </transition>

        <!--进入时的渲染-->
        <transition appear appear-class="enter" appear-active-class="entered">
            <div v-if="show" :class="[red,big]">1234</div>
        </transition>

        <!--绑定多个元素的动画 使用 transition-group-->
        <transition-group name="animation" enter-active-calss="animated flipInx" leave-active-class="animated flipOutY" tag="ul">
            <li v-for="item in zoo" v-bind:key="item">
                {{item}}
            </li>
        </transition-group>
        <brown></brown>
        <jack></jack>
        <tom></tom>
        <!--如果注册时用的是驼峰命名  使用时 格式 a-b的形式  -->
        <a-component></a-component>
        <dog></dog>
        <!--写模板时需要一个根元素-->
        <template id="animel">
            <div>
                <h3>1234</h3>
            </div>
        </template>
        <father></father>
        <part v-bind:msg="season.menu1"></part>
    </div>
    <template id="son">
        <div>
            <ul>
                <li>123</li>
                <li>1234</li>
                <li>1234</li>
            </ul>
        </div>
    </template>

    <!--backbone的写法-->
    <script type="text/x-template" id="animel2">
        <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
        </ul>
    </script>
    <script>
        window.onload = function(){
            var son = Vue.extend({
                template:'#son'
            })
            var fa = Vue.extend({
                template:'<div><h3>我是父组件</h3><child></child></div>',
                components:{
                    'child':son
                }
            })
            Vue.component('father',fa);
            //全局注册组件
            var tem =Vue.extend({

                template:'<h2>我是Boven老师!!</h2>'
            });
            //第一个参数 组件的名称 第二个参数模板
            Vue.component('brown',tem);//这个是单数
            Vue.component('aComponent',{
                template:'<h3>我也是全局注册的组件</h3>'
            })

            var a=Vue.extend({
                template:'<h3>我是局部注册的组件</h3>'
            })
            //注册局部组件
            var vue = new Vue({
                el:'#box',
                components:{//这个必须是复数 因为同时注册多个组件
                    'jack':a,
                    'tom':{
                        template:'<strong>我也是局部组件</strong>'
                    },
                    "dog":{
                        template:'#animel'
                    },
                    //父子之间的数据通信
                    //通过props属性
                    'part':{
                        props:['msg'],
                        template:'<h3>{{msg}}</h3>'
                    }
                },
                data:{
                    imgs:'sss',
                    obj:'222',
                    a:false,
                    zoo:[
                        '1',
                        '2',
                        '3'
                    ],
                    word:'<p>1234</p>',
                    text:"1234",
                    familyName:'li',
                    name:'lily',

                    state11:true,
                    state1:false,
                    state2:true,
                    changeState:{
                        'big':false,
                        'small':true
                    },
                    red:'red',
                    big:'big',
                    yellow:'yellow',
                    style:false,
                    slow:false,
                    season:{
                        menu1:'12',
                        menu2:'23',
                        menu3:'34',
                    }
                },
                methods: {
                    click: function () {
                        alert(1);
                    }
                },
                computed:{//计算属性
                    fullName:function(){
                        return this.familyName + this.name;
                    },
                    getFullName:{
                        get:function(){
                            return this.familyName + ' '+this.name
                        },
                        set:function(val){
                            var full = val.split(' ');
                            this.familyName = full[0];
                            this.name = full[1];
                        }
                    },

                },
                filters:{
                    currency:function(val){
                        return '￥'+val;
                    }
                }
            })
        }
    </script>
</body>
</html>